body{
    display: flex;
    flex-direction: column;
    margin:0;
}

.header, .footer, .one{
    background-color: #1f2937;
    display: flex;
    flex:1;
}



.header{
    padding: 25px;
    align-items: center;
    justify-content: space-around;
    
}

.logo{
    color: white;
    font-size: 24px;
    font-weight: 900;
}

.links{
    color:#e5e7eb;
    font-size: 18px; 
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 25px;
    color: #e5e7eb;
}

.one{
    color: White;
    display: flex;
    padding: 80px;
    justify-content: space-around;
    align-items: center;
}

.one-one{
    max-width: 350px;
}

button{
    background-color: #3882f6;
    padding: 5px;
    width: 80px;
    border-radius: 4px;
    border-width: 0;
    color:white;
}

.one-two{
    background-color:#e5e7eb;
    height: 200px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two{
    text-align: center;
}

.two-content{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.two-content p{
    max-width: 150px;
}

.box{
    width: 150px;
    height: 150px;
    border:2px solid lightskyblue;
    border-radius: 6px;
}

.three{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    align-content: space-around;
    background-color: #e5e7eb;
    height: 250px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.three p{
    margin:5px;
    
}

.three .container{
    display: flex;
    max-width: 900px;
    flex-direction: column;
    align-items: flex-end;
}

.four{
    display: flex;
    justify-content: center;
}

.four-one{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    width: 900px;
    margin: 30px 50px;
    gap: 80px;
}

.four-one-one {
    padding: 30px;
    color:white;
}

.four-one-one p{
    padding:0;
    margin-top: 0;
}

h4{
    margin-bottom: 0;
}

.footer{
    justify-content: center;
    align-items: center;
    color:white;
}

.four-one-two button{
    border-width: 2px;
    border-color: white;
}





