body{
    display: flex;
    flex-direction: column;
}

.header, .footer, .one{
    background-color: #1f2937;
    display: flex;
    flex:1;
}



.header{
    padding: 25px;
    align-items: center;
    justify-content: space-around;
    
}

.logo{
    color: white;
    font-size: 24px;
    font-weight: 900;
}

.links{
    color:#e5e7eb;
    font-size: 18px; 
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 25px;
    color: #e5e7eb;
}

.one{
    color: White;
    display: flex;
    padding: 80px;
    justify-content: space-around;
    align-items: center;
}

.one-one{
    max-width: 350px;
}

button{
    background-color: #3882f6;
    padding: 5px;
    width: 80px;
    border-radius: 4px;
    border-width: 0;
    color:white;
}

.one-two{
    background-color:#e5e7eb;
    height: 200px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two{
    text-align: center;
}

.two-content{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.two-content p{
    max-width: 150px;
}

.box{
    width: 150px;
    height: 150px;
    border:2px solid lightskyblue;
    border-radius: 6px;
}





